@import "base";

// Demo page styles
html {
	background: url("../images/light_wool.png");

	body{
		padding-top: 25px;
		max-width: 1020px;
		margin:auto;
	}

	body[role=widget]{
		padding-top: 0;
		background: #F7F6F5;

		div[role=main] {
			background: white;
			box-shadow: 3px 3px 3px #f1f1f1;
			padding: 100px 10px;
			max-width: 1000px;
			margin:auto;
			border-radius: 0 0 3px 3px;
		}

		footer{
			width: 1000px;
			padding: 10px;
			margin:auto;
			min-height: 50px;

			.copy{
				float:left;
				span{
					color: #aeaeae;
					font-size: 10px;
					display:block;
				}
			}

			img{
				float:right;
				width: 140px;
			}
		}
	}
}
// End demo styles


// Hitch Widget styling
.widget_container{
	margin:10px 10px 10px 40px;
	clear: both;

	.vehicle-info{
		float: left;

		a {
			font-size: 14px;
			color:#343434;
			margin: 5px 7px;
			display: inline-block;
			min-width:80px;
			padding: 5px 10px;
			background: rgb(238,238,238);
			background: rgba(238,238,238, 0.4);

			&:hover{
				text-decoration: none;
				background:rgb(238,238,238);
			}
		}

		a:after{
			padding-left:5px;
			float:right;
			content: '+';
		}
	}

	.select-area{
		float: left;
	}

	.clear{
		display: none;
	}
	.curt-vehiclestring{
		display:block;
		font-size:16px;
		color: #aeaeae;
		margin-bottom: 5px;
	}

	select{
		display: block;
	}
}

.widget-results{
	margin:40px 20px 20px;
}

@include mobile-only(){
	body{
		background:black;
	}
}


// End Hitch Widget styles