/* 
    Document   : configurator
    Created on : Oct 14, 2010, 11:57:53 AM
    Author     : Aninneman
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#configurator{
	color: #5b5a5a;
}

select{
	background-color: #515050;
	color: white;
	border-radius: 4px 4px;
	height: 25px;
}

option{
	padding: 1em;
	color: white;
}

option:last{
	border-radius: 0px 0px 4px 4px
}

#clear{
	font-size: 10pt;
	color: #5b5a5a;
	text-decoration: none;
}

#clear:hover{
	text-decoration: underline;
}

#vehicleStr{
    margin: 0px 10px;
    font-size: 16pt;
}

#searchStr{
    display: none;
}

select{
    display:none;
}

#lookup_submit{
    display: none;
}

.hitch{
    padding-bottom:25px;
    border-bottom: 1px solid black;
}

.curtLogo{
    display:inline;
    position: relative;
    top: 2px;
}

.shortDesc_link{
	text-decoration: none;
	color: #515050;
	margin-bottom: 5px;
}

.shortDesc_link:hover{
	text-decoration: underline;
}

.hitchTitle{
    font-size: 14pt;
    font-weight: bold;
}

.prodImg{
    float:left;
    width:10%;
    margin-right:25px;
    text-align: center;
}

.prodImg img{
    width:95%;
}

.longDesc{
    float:left;
    width:60%;
    margin-top:0px;
    margin-right:20px;
}

.prodLinks{
    min-height: 45px;
    float:left;
    width:20%;
    border-left:1px solid #ccc;
    padding-left:15px;
}

.prodLinks a{
	vertical-align: top;
	color: #515050;
	text-decoration: none;
	margin-right: 5px;
}

.prodLinks a:hover{
	text-decoration: underline;
}

#resultBox_outline{
	border: 1px solid #999;
	border-radius: 10px 10px;
	margin: 10px 0px;
}

#resultBox{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#ccc));
	padding: 5px;
	border: 1px solid #white;
	border-radius: 10px 10px;
	color: #515050;
}

.button{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#ccc));
	padding: 5px;
	border: 1px solid #white;
	border-radius: 10px 10px;
	color: #515050;
}

.button:hover{
	text-decoration: underline;
}

.button_outer{
	border: 1px solid #999;
	border-radius: 10px 10px;
	margin: 5px 0px;
	text-align: center;
	cursor: pointer;
}

.buynow{
	width: 40%;
}
