<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>

        <link rel="stylesheet" href="styles/prettify.css">
        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body role="widget">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
            <div class="container">

              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <!-- Be sure to leave the brand out there if you want it shown -->
              <a class="brand" href="#">CURT Hitch Widget v3.0</a>

              <!-- Everything you want hidden at 940px or less, place within here -->
              <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Basic</a></li>
                </ul>
              </div>

            </div>
            </div>
        </div>

        <div role="main" id="main">
            <div class="hero-unit">
                <h2>Hitch Widget Example</h2>
                
                <div class="well">
                    <p>The default implementation is fairly basic</p>
                    <div class="prettyprint linenums lang-html">
                        <ol class="linenums">
                            <li class="L0">&lt;div role="main" id="main" class="widget-container"&gt;&lt;/div&gt;</li>
                            <li class="L1">&lt;script src="https://labs.curtmfg.com/widget_v3/script.js"&gt;&lt;/script&gt;</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- Main container. -->
            
            <script data-main="scripts/config" class="hitch-widget" data-key="8aee0620-412e-47fc-900a-947820ea1c1d" src="scripts/libs/require.js"></script>
            
            
            <script type="text/template" class="widget-container-tmpl">
                <div class="widget_container">
                    <div class="vehicle-info"></div>
                    <div class="select-area"></div>
                    <a href="#" class="clear">Reset</a>
                </div>
                <div class="clear"></div>
                <div class="widget-results"></div>
            </script>

            <script type="text/template" class="matched-part-tmpl">
                <div class="category">
                    <span class="title"><%= Category %></span>
                    <ul>
                        <% _.each(Parts,function(p){ %>
                            <li><%= p %></li>
                        <% }); %>
                    </ul>
                </div>
            </script>
            
            
            
            
        </div>
        <footer>
            <div class="copy">
                <span>Copyright &copy; 2012 CURT Manufacturing, LLC</span>
                <span>Developed by: <a href="mailto:websupport@curtmfg.com">Alex Ninneman</a></span>    
            </div>
            <img src="images/curt.png" alt="CURT Manufacturing, LLC">
        </footer>

        <!-- build:js scripts/amd-app.js -->
        <script type="text/javascript" src="scripts/prettify.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
