body {
	display: block;
	background: #000000;
	margin: 0;
	padding: 0;
}
td, th, div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

form {
	margin: 0px; padding: 0px; padding-bottom: 10px; border-collapse: collapse;
}
img{
	border: 0px;
}
a:Link, a:Visited {
	color: #2618e1; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none;
}
a:hover {
	color: #2618e1; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: underline;
}
a.newslinks:Link, a.newslinks:Visited {
	color:#2618e1; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;
}
a.newslinks:hover {
	color: #2618e1; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: underline;
}
a.titlelinks:Link, a.titlelinks:Visited {
	color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11px; text-decoration: none;
}
a.titlelinks:hover {
	color: #FFD700; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11px; text-decoration: underline;
}



a.productlinks:Link, a.productlinks:Visited {
	color: #3349D4; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 16px; text-decoration: none;
}
a.productlinks:hover {
	color: #F105FA; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 16px; text-decoration: underline;
}
a.footerlinks:Link, a.footerlinks:Visited {
	color: #ffffff; font-family: Arial; font-size: 12px; text-decoration: none;
}
a.footerlinks:hover {
	color: #ffffff; font-family: Arial, sans-serif;font-size: 12px; text-decoration: underline;
}
a.highlinks:Link, a.highlinks:Visited {
	color: #ffffff; font-size: 16px; font-weight: bold; text-decoration: none;
}
a.highlinks:hover {
	color: #ffffff; font-size: 16px; font-weight: bold; text-decoration: underline;
}
a.redlinks:Link, a.redlinks:Visited {
	color:#ED5924; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11px; text-decoration: none;
}
a.redlinks:hover {
	color: #ED5924; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11px; text-decoration: underline;
}

.menuSearchForm {
	font-family: tahoma; font-size: 11px; color: #6D1602;
}

.gridhead { font-weight: bold; font-size: 14px; padding-right: 20px; border-bottom: 4px solid #535353;}
.gridcell { font-size: 12px; padding-right: 20px; padding-top: 2px; padding-bottom: 2px; border-top: 1px solid #bababa;}
.gridcellBottom { font-size: 12px; padding-right: 20px; padding-top: 2px; padding-bottom: 2px;}

input.searchtext {
	float: left; padding-left: 4px; height: 16px; width: 90px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border: 1px solid #000000; font-weight: bold;
}
input.contactFormInputs{
	width: 140px; border-style:solid; border-color:#CDCDCD; background-color: #EDF4ED;
}

#searchArea{
    float:right;
    margin-right: 15px;
    height:50px;
    width: 275px;
    background: #857d72;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-bottom-left-radius: 5px 5px;
    -moz-border-bottom-right-radius: 5px 5px;
    -o-border-bottom-left-radius: 5px 5px;
    -o-border-bottom-right-radius: 5px 5px;
}

#searchArea input[type=text]{
    background-color: white;
    border: 0px inset #857F73;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    font-size: 10pt;
    height: 25px;
    left: 0px;
    padding: 3px;
    position: relative;
    top: 8px;
    width: 175px;
    margin-left: 10px;
}

#searchArea input[type=image]{
    margin-top: 10px;
    margin-left: 5px;
}

div.highlightcont
{
	display: block;
	margin: 0 0 10px 0;
	width: 246px;
	position: relative;
	z-index: 1;
}

div.highlighthead
{
	position: relative;
	display: block;
	background: url(../images/greybg.gif) no-repeat top;
	height: 34px;
	padding: 11px 0 0 0;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	z-index: 1;
	margin: 0;
}

div.highlightfoot
{
	position: relative;
	display: block;
	background: url(../images/highbg.gif) repeat-y;
	border: none;
	height: 84px;
	overflow: hidden;
	margin: 0;
	padding: 0 5px 0 0;
	z-index: 1;
}

div.highlightfoot img.highlight
{
	display: block;
	position: relative;
	width: 234px;
	margin: 0 0 0 4px;
	z-index: 1;
	overflow: hidden;
}

div.highlightcont div.hbottom
{
	clear: both;
	width: 238px;
	height: 1px;
	margin-left: 1px;
	border-top: 1px solid #2d366d;
}

ul#nav
{
	list-style-type: none;
	list-style-image: none;
	position: relative;
	margin: 0;
	padding: 0;
	color: #ffffff;
	display: block;
	z-index: 40;
}

ul#nav li
{
	display: block;
	position: relative;
	float: left;
	clear: none;
	width: 100%;
	z-index: 40;
}

ul#nav li a
{
	display: block;
	position: relative;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin: 2px;
	padding: 7px 0 5px 0;
	clear: none;
	width: 100%;
	z-index: 40;
}

ul#nav li ul.subnav
{
	display: none;
	width: 155px;
	left: 0px;
	background-color: #efefef;
	border: 1px solid #ED5924;
	padding: 2px;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 40;
}

ul#nav li ul.subnav li
{
	display: block;
	position: relative;
	clear: both;
	float: left;
	z-index: 40;
	width: 100%;
}

ul#nav li ul.subnav li a
{
	display: block;
	position: relative;
	clear: both;
	color: #555555;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	z-index: 40;
	text-transform: capitalize;
}

html>body ul#nav li ul.subnav li a
{
	width: 92%;
}

ul#nav li ul.subnav li a:hover
{
	background-color: #ED5924;
	color: #ffffff; 
	text-decoration:underline;
	z-index: 40;
}

ul.news
{
	list-style: none;
	display: block;
	margin: 10px 0 20px 0;
}

div.newsitem
{
	display: block;
	float: left;
	clear: both;
	position: relative;
	margin: 10px;
}

div.container
{
	display: block;
	width: 750px;
	margin: auto;
	overflow: hidden;
}

div.header
{
	display: block;
	height: 375px;
	background: url(../images/headerbg.jpg) top left no-repeat #000;
	position: relative;
	overflow: hidden;
}

div.header-home
{
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #191816;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#191816), to(#2b2b2b));
	background: -moz-linear-gradient(top, #191816, #2b2b2b);
	background: gradient(linear, 0% 0%, 0% 100%, front(#191816), to(#2b2b2b));
}

#searchStr {color:white;font-size: 11px;font-weight:bold;}
#clearSearch {color: #e44f31;font-size: 11px;font-weight: bold;float: left; position: relative;}
#makeMeScrollable {width: 64%; display: block; position: relative; height: 175px;float:right;margin-top: 10px;}
#bringitimage {position:absolute;top: 10px; right: 0; width: 45px;}

#navBox{
	background-color: #923A15;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E44F31), to(#923A15));
	background: -moz-linear-gradient(top, #E44F31, #923A15);
	background: gradient(linear, 0% 0%, 0% 100%, from(#E44F31), to(#923A15));
	height: 46px; 
	width: 750px;
}

div.scrollWrapper
{
	word-spacing: nowrap;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 175px;
}

#makeMeScrollable div.scrollableArea
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	height: 100%;
}

#topBar
{
	background-color: #e44f31;
	width: 100%;
	height: 10px;
}

#makeMeScrollable div.scrollableArea img {height: 175px;}

div.header a.logo, div.header-home a.logo
{
	float: left;
	width: 175px;
	margin-top: 16px;
}

div.header div.headerlinks, div.header-home div.headerlinks
{
	float: left;
	width: 575px;
	margin-top: 36px;
	text-align: left;
	color: #fff;
}

div.headerlinks div.hlinks
{
	float: left;
	clear: none;
	position: relative;
	color: #fff;
	padding-top: 4px;
}

div.headerlinks div.hlinks a
{
	color: #fff;
	display: inline-block;
	font-weight: bold;
	position: relative;
	padding: 0 7px 0 7px;
}

div.headerlinks div.searchbox
{
	float: right;
	clear: none;
	position: relative;
}

div.header div.hitchlookup
{
	float: right;
	width: 270px;
	text-align: left;
	padding-top: 75px;
}

div.header-home div.hitchlookup
{
	text-align: left;
	background-color: #923A15;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E44F31), to(#923A15));
	background: -moz-linear-gradient(top, #E44F31, #923A15);
	background: gradient(linear, 0% 0%, 0% 100%, from(#E44F31), to(#923A15));
	width: 240px !important;
        padding: 10px 15px;
        padding-bottom: 15px;
        margin-right: 0px; 
        display: block;
        float:left;
        margin-bottom: 10px;
        margin-top: 10px;
}

div.hitchlookup p.quickhitchtext
{
	padding: 0 0 5px 0;
	color: #ffffff;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

div.header div.hitchlookup img
{
	display: block;
	padding-top: 10px;
}

div.header select, div.header-home select
{
	display: block;
	clear: both;
	font-size: 11px;
	width: 220px;
	margin: 5px 0 5px 0;
	border: 1px solid #000;
}

div.header div.hitchlookup input
{
	display: block;
	clear: both;
	padding-left: 149px;
}

div.header a.receiver
{
	position: absolute;
	height: 56px;
	width: 65px;
	top: 112px;
	left: 96px;
}

div.header a.gooseneck
{
	position: absolute;
	height: 56px;
	width: 74px;
	top: 82px;
 	left: 171px;
}

div.header a.fifthwheel
{
	position: absolute;
	height: 56px;
	width: 74px;
	top: 83px;
 	left: 258px;
}

div.header a.cargo
{
	position: absolute;
	height: 56px;
	width: 60px;
	top: 101px;
	left: 355px;
}

div.header a.ballmounts
{
	position: absolute;
	height: 56px;
	width: 50px;
	top: 243px;
	left: 65px;
}

div.header a.bikeracks
{
	position: absolute;
	height: 56px;
	width: 45px;
	top: 312px;
	left: 110px;
}

div.header a.locks
{
	position: absolute;
	height: 56px;
	width: 80px;
	top: 312px;
	left: 178px;
}

div.header a.wiring
{
	position: absolute;
	height: 56px;
	width: 78px;
	top: 287px;
	left: 248px;
}

div.header a.frontmount
{
	position: absolute;
	height: 56px;
	width: 84px;
	top: 303px;
	left: 329px;
}

div.pageview
{
	display: block;
	clear: both;
	position: relative;
}

div.tabs {display: block; clear:both;}

div.hitchcont
{
	display: block;
	clear:both;
	background: url('../images/bggradient.gif') top left repeat-x;
	padding: 3px;
	position: relative;
}
div.hitchcont p {margin: 0;}
div.hitches {display: block; background: #ffffff;position: relative;}
div.classCarousel {display: block; height: 110px; background: url('../images/topcarouselbg.gif') top left repeat-x;padding: 0 40px;}
div.hitchcontent {display: block; clear:both;position: relative;}
div.hitchcontent div.hitchtop {display: block; clear: both; height: 7px; background: url('../images/contenttopbg.gif') top left repeat-x;position: relative;}
div.hitchcontent div.hitchfoot {display: block; clear: both; height: 12px; background: url('../images/contentfootbg.gif') top left repeat-x;position: relative;}
div.hitchcontent div.hitchmain {display: block; clear:both; background: #F5F5F5;position: relative;}
div.hitchmain div.hitchleft {float: left; clear: both;width: 445px; padding: 10px;position: relative;}
div.hitchmain div.hitchleft div.hitchimgOut {display: block; clear: both; width: 440px;height: 260px; border: 1px solid #ccc;position: relative;}
div.hitchmain div.hitchleft div.hitchimgIn {display: block; clear: both; height: 254px; border: 1px solid #efefef;background-color: #fff; padding: 2px;position: relative;}
div.hitchmain div.hitchleft div.hitchimg {float: left; clear: none; width: 324px;height: 254px; text-align: center; position: relative;}
div.hitchmain div.optionTitleCont {display: block; clear: both;position: relative;}
div.hitchmain p.optionTitle {padding: 15px 10px 0; display: block; font-weight: bold;font-size: 14px;position: relative;}
div.hitchimg a {display: block;position: relative;}
div.hitchimg img {margin: auto; display: block;position: relative;}
div.hitchimg a.magnifier {position: absolute; top: 5px; right: 5px;}
div.hitchimg div.notetext {position: absolute; width: 324px; text-align: center; bottom: 20px; left: 0;}
div.notetext p {display: block; font-size: 12px; text-align: center; font-weight: bold; color: #DE511C;}
div.hitchleft div.hitchOptions {display: block; clear: both;margin-top: 10px; position: relative;}
div.hitchOptions p.optionHeader {display: block; clear: both; font-size: 14px; font-weight: bold; color: #4f4f4f;text-align: center;position: relative;}
div.hitchOptions div.optionCont {display: block; clear: both; padding: 8px 0;position: relative;overflow: hidden;}
div.hitchOptions div.optionCont div.hitchOption {color: #4f4f4f;float: left; clear: none; cursor: pointer; border: 1px solid #ddd; background-color: #fff; overflow: hidden; width: 105px; height: 120px;margin: 2px;text-align: center;padding: 5px 0; position: relative;}
div.hitchOptions div.optionCont div.altoption {margin-left: 75px;}
div.hitchOptions div.optionCont div.activeOption {border: 1px solid #4f4f4f;}
div.hitchOption p.optionfoot {font-size: 11px;display: block;padding: 0 5px; position: absolute; bottom: 3px; left: 0; width: 95px; text-align: center;}
div.hitchOption p.optionCode {font-size: 11px; padding: 0 1px; position: relative; z-index: 2;}
div.hitchOption img {position: absolute; z-index: 1; display: block; top: 35px; left: 2px;}
div.optionNote img {display: block; clear: both; margin: 3px 2px 0 0;}
div.hitchmain div.hitchright {float: left; width: 240px; clear: none; padding: 10px 0 10px 15px;position: relative;}
div.hitchright ul {list-style: disc inside url('../images/ul.gif');margin: 0; padding: 0;position: relative;}
div.hitchright ul li {line-height: 2;font-weight: bold;position: relative;}
div.hitchright ul li p.install {display: inline;position: relative;cursor: pointer;}
div.hitchright ul li p.install span {font-size: 20px; color: red;line-height: .5;}
div.hitchright ul li a {color: #000;text-decoration: underline;}
div.hitchright ul li ul {padding-left: 20px;position: relative;}
div.hitchright table {font-size: 11px;background-color: #fff;border-collapse:collapse;margin: 7px 0 0 20px;padding: 0; border-color: #c5c5c5;position: relative;}
div.hitchright table td,div.hitchright table th {font-size: 11px;padding: 3px 10px;font-weight: normal;}

div.vehicleInfo {display: block; clear: both;padding: 0 10px;white-space: nowrap;overflow: hidden;}
div.vehicleInfo p.hitchTitle {font-size: 18px; font-weight: bold; display: block; clear: both;text-transform: capitalize;padding: 15px 0 5px;}
div.vehicleInfo div.vehicleElement {display: block; clear:both;position: relative;}
div.vehicleInfo div.vehicleElement p {font-weight: bold;font-size: 12px;float: left; clear:none; padding-right: 15px;position: relative;}

div.imgcarousel {float: left; height: 254px; width: 104px; background-color: #f5f5f5;position: relative;}
img.carouselleft, img.carouselright {float: left; clear:none; position: relative; margin: 0;padding: 4px 30px;cursor: pointer;}
div.carouselimages {float: left; position: relative; width: 104px; height: 194px;overflow: hidden;}
div.carouselcont {display:block;width: 104px;position:absolute;top:0;}
div.carouselcont div.carouselimage {display: block; clear: both; position: relative; padding: 4px 9px; height: 56px;}
div.carouselcont div.carouselimage.selected {background-color: #BFBFBF;}
div.carouselcont div.carouselimage img {display: block; height: 54px; border: 1px solid #000;cursor: pointer;margin: auto;position: relative;}

div.tabs {display: block; clear: both; padding-top: 10px;}
ul.classtabs {list-style-type: none;display: block; margin: 0;padding: 0;}
ul.classtabs li {float: left; clear: none;position: relative;margin-right: -30px;}
ul.classtabs li a {display: block; width: 89px;padding: 5px 0 2px 20px;background: url('../images/tab.gif') top left no-repeat;color: #fff; text-decoration: none;font-size: 12px;cursor: pointer;}
ul.classtabs li a.right {padding: 5px 20px 2px 0;text-align: right;}
ul.classtabs li a.active {display: block; width: 109px;text-align: center; padding: 5px 0 2px 0;background: url('../images/tab-active.gif') top left no-repeat;color: #fff; text-decoration: none;font-size: 12px;}
ul.classtabs li a.inactive {cursor: auto;background: url('../images/tab-inactive.gif') top left no-repeat;}

div.lowertabs {display: block; clear: both;}
ul.lowertabs {list-style-type: none;display: block; margin: 0;padding: 0 3px;}
ul.lowertabs li {float: left; clear: none; position: relative;padding: 0 1px 0 8px; background: url('../images/ltab-left.gif') top left no-repeat;}
ul.lowertabs li.active {background: url('../images/ltab-a-left.gif') top left no-repeat;}
ul.lowertabs li a {float: left; clear: none; position: relative; padding: 4px 20px 4px 12px; overflow: hidden; background: url('../images/ltab-right.gif') top right no-repeat;text-decoration: none;cursor: pointer; font-weight: bold;font-size: 14px;color: #000;}
ul.lowertabs li a.active {background: url('../images/ltab-a-right.gif') top right no-repeat;}
div.lowercontent {display: block; min-height: 255px;clear: both;padding: 20px 10px 10px;}
div.lowercontent div.lowerleft {width: 240px;padding-left: 25px;float: left;position: relative;}
div.lowercontent div.lowerright {width: 400px;padding-left: 15px;float: left; clear:none;position: relative;}
div.lowercontent div.lowerleft a {color: #E4521D;font-weight: bold; text-decoration: underline;font-size: 14px;position: relative;}
div.lowercontent div.lowerright p {padding-left: 10px;margin: 1em 0;position: relative;}
div.lowercontent div.lowerright p.tabheader {font-weight: bold;font-size: 14px; background: url('../images/ul.gif') center left no-repeat;margin: 0;}
div.lowercontent div.lowerright a {color: #E4521D;text-decoration: underline;}
div.lowercontent div.electricalContent {padding: 15px;position: relative;}

img.topcarouselleft, img.topcarouselright {float: left; clear:none; position: relative; margin: 0;padding: 20px 10px;cursor: pointer;}
div.topcarouselimages {float: left; clear:none; position: relative; height: 110px; width: 560px;overflow: hidden;}
div.topcarouselcont {display:block;height: 110px; position:absolute;top:0;white-space:nowrap;}
div.topcarouselcont div.topcarouselimage {float: left; clear:none; position: relative; width: 100px; height: 100px;padding: 8px 6px 6px 6px; text-align: center;}
div.topcarouselcont div.selected {color: #fff; background-color: #0057E1;}
div.topcarouselcont div.topcarouselimage img {display: block; width: 100%; border: 1px solid #000;cursor: pointer;}
div.topcarouselcont div.topcarouselimage p {display: block; margin: 0;padding: 0;font-size: 10px;}
a.connImgLink {display: block; clear: both; margin-bottom: 10px;position: relative;}
a.connImgLink img {width: 100%;position: relative;}

div.review {display: block; clear: both; margin: 1em 0;position: relative;}
div.review p.reviewTitle {font-size: 14px; font-weight: bold;margin-bottom: 8px;float: left;padding-right: 10px;position: relative;}
div.review div.starrating {float: left; clear: none; height: 18px; position: relative;width: 90px;background: url('../images/star_rating.gif') top left repeat-x;}
div.review div.starrating div.starrate {position: absolute; top: 0; left: 0; background: url('../images/star_rating.gif') bottom left repeat-x; height: 18px;}

div.connectorcont {display: block; clear:both; padding: 10px 0;border-bottom: 1px dotted #ccc;position: relative;}
div.accessorybox {float: left; clear: none; width: 195px; height: 137px; border: 1px solid #f0f0f0;margin: 5px 13px;text-align: center; position: relative;padding: 5px;}
div.accessorybox a {font-weight: bold; font-size: 14px; color: #000000; text-decoration: none;}
div.accessorybox img {display: block; margin: 5px auto ;clear:both;}
div.accessorybox img.accessory {height: 90px; width: auto;}
div.accessorybox p {font-size: 12px;position: absolute; bottom: 2px; width: 185px; text-align: center; left: 10px;}
div.accessorybox p span {display: block; font-weight: bold; text-align: center; font-size: 14px;}

a.reviewSeeMore,a.reviewSeeLess {font-weight: bold; float: right; clear: none;text-decoration: underline;cursor: pointer;color: #000; font-weight: 14px;position: relative;}

div.reviews {display: block; clear: both; padding: 0 20px 15px;position: relative;}
div.reviews a {font-size: 16px; font-weight: bold;position: relative;}
div.reviews p {margin: 0;position: relative;}
div.reviews div.review {padding: 15px 10px; border-bottom: 1px dotted #d3d3d3;margin: 0;position: relative;}
a.reviewprev {float: left;position: relative;}
a.reviewnext {float: right;position: relative;}
div.reviews p#pagenums {float: left; clear: none; font-size: 16px; font-weight: bold; position: relative; width: 500px; text-align: center;}

#footer
{
	background-color: #343434;
	min-height: 200px;
	max-height: 800px;
	width: 800px;
	font-size: 8pt;
	color: white !important;
}

#footer #bottom_logo
{
	background-image: url('../images/header/logo_brown.jpg');
	float: right;
	height: 37px;
	margin-right: 50px;
	margin-top: 10px;
	width: 290px;
}

#footer a
{
	color: white;
	text-decoration: none;
	margin: 0px 10px;
}

#footer a:hover {text-decoration: underline;}
#footer sup {font-size: 6pt;}
#social_links {float:right;margin-right: 240px;margin-top: 10px;}
#social_links a {margin: 0px;}